.orange{
    background-color: orange;
}
.gray{
    background-color: rgb(201, 211, 62);
}
.green{
    background-color: rgb(23, 211, 101);
}
.blue{
    background-color: rgb(84, 18, 236);
}
.pink{
    background-color: rgb(252, 36, 187);
}